.character-list {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 60px;
}

.character-item {
    background: linear-gradient(120deg, #6610f2ab, #007bffab);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.2s;
    margin-bottom: 20px;
    position: relative;
}

.character-thumbnail {
    width: 60%;
    border-radius: 5px;
}

.character-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.character-description {
    font-size: 1rem;
    margin: 0 10px 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.comics-container,
.mseries-container,
.stories-container,
.events-container,
.urls-container {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
}

.comics-list,
.mseries-list,
.stories-list,
.events-list,
.urls-list {
    display: none;
    width: 100%;
    margin-top: 10px;
}

.comic-item,
.mseries-item,
.story-item,
.event-item,
.url-item {
    background: linear-gradient(120deg, #6610f2ab, #007bffab);
    padding: 10px;
    border-radius: 5px;
    width: calc(33.33% - 20px);
    text-align: center;
    transition: transform 0.2s;
    margin-bottom: 10px;
}

.comic-link,
.mseries-link,
.story-link,
.event-link,
.url-link {
    text-decoration: none;
    color: #fff;
}

button.comics-title,
button.mseries-title,
button.stories-title,
button.events-title,
button.urls-title,
.category-title {
    display: inline-block;
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background-color: rgba(0, 123, 255, 0.25); /* Couleur de fond transparente (0.1 = 10% d'opacité) */
    color: #007bff;
    flex: 1;
}

button.comics-title:hover,
button.mseries-title:hover,
button.stories-title:hover,
button.events-title:hover,
button.urls-title:hover,
.category-title:hover {
    color: #fff;
    background-color: #007bff;
}

/* Style pour les boutons actifs */
button.comics-title.active,
button.mseries-title.active,
button.stories-title.active,
button.events-title.active,
button.urls-title.active,
.category-title.active {
    color: #fff;
    background-color: #007bff;
}

.buttons-container {
    display: flex;
    gap: 10px;
}

.category-list {
    margin-top: 10px;
}

.category-item {
    background: rgba(0, 123, 255, 0.25);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.category-link {
    color: #fff;
    pointer-events: none; /* Désactive les événements de pointer (comme les clics) */
}

.category-link:hover {
    text-decoration: none; /* Supprime le soulignement du texte au survol */
}

.comic-list {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 60px;
}

.comic-thumbnail {
    width: 100%;
    border-radius: 5px;
}

.creator-list {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 60px;
}

.creator-item {
    background: linear-gradient(120deg, #6610f2ab, #007bffab);
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    transition: transform 0.2s;
    margin-bottom: 20px;
}

.creator-thumbnail {
    width: 60%;
    border-radius: 5px;
}