.input-area {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #121212;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  
  input {
    padding: 10px;
    background-color: #444;
    color: white;
    border: 1px solid #666;
    padding: 8px;
    font-size: 16px;
    max-width: 48rem;
    width: 100%;
    border-radius: 5px;
  }

  button {
    padding: 10px;
    background-color: #121212;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }
}