.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  background-color: #020202;
  color: #fff;
  height: 60px;
  padding: 0 20px;
  user-select: none;

  .menu-icon {
    cursor: pointer;
    font-size: 24px;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
  }
}