/* style.css */
body,
html,
#app {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

#chatbot-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #020202;
  color: #fff;
}

textarea:focus,
input:focus {
  outline: none;
}

.message-container {
  display: flex;
  flex-direction: row;
  max-width: 70%;
}

.messages {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
  width: 100%;
  padding: 10px;
}

.message {
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  color: #fff;
  margin-bottom: 5px;
}

.name-of-bot, .time-of-message {
  font-size: 12px;
  color: #ccc;
}

.message p {
  margin: 0;
}

.user-message {
  align-self: flex-end;

  .message-name-text-and-time {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;

    .time-of-message {
      margin-right: 10px;
    }
  }

  .message {
    background: #333333ab;
  }
}

.bot-message:not(.movie-list) {
  align-self: flex-start;

  .avatar {
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #333;
  }

  .message-name-text-and-time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;

    .time-of-message {
      margin-left: 10px;
    }
  }

  .message {
    background: linear-gradient(120deg, #6610f2ab, #007bffab);
  }
}

