.movie-list {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  margin-left: 50px;
}

.movie-item {
  background: linear-gradient(120deg, #6610f2ab, #007bffab);
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  transition: transform 0.2s;
}

.movie-item img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.movie-item p {
  margin: 0;
}

.series-list {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  margin-left: 60px;
}

.series-item {
  background: linear-gradient(120deg, #6610f2ab, #007bffab);
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  transition: transform 0.2s;
}

.series-item img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.series-item p {
  margin: 0;
}

.trending-list {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  margin-left: 60px;
}

.trending-item {
  background: linear-gradient(120deg, #6610f2ab, #007bffab);
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  transition: transform 0.2s;
}

.trending-item img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.trending-item p {
  margin: 0;
}